.PayrollTypeSelectorBackground
{
    display: flex;
    flex-direction: row-reverse ;
    width:100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}
.PayrollTypeSelectorBox
{ 
    
    /* align-content: center;
     */
    border: 1px solid black;
    box-shadow: 4px 1px 20px 0px #000000bf;
    border-radius: 5px;
    padding: 3.5rem 2rem;
}
.PayrollTypeSelectorButtons
{ 
    text-align: center;
}

@media (max-width: 600px) {
    
    .PayrollTypeSelectorBox
    {
        padding: 1.5rem 1rem;  
    }
}