.DataProvider{
    display: flex; 
    flex-direction: column;
    
}
.Child1{
    vertical-align: center;
    /* margin-top: 20px; */
    margin: 5vh auto auto auto;
    flex-basis: 70%;
    flex:1;
}
.Child2{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 3;
    
}
.Child2Child1{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;
}
.Child2Child1>label:hover{
    color:red;
}
.Child2Child2{
    
}
.ButtonContainer{
    display: flex;
    justify-content: space-around;
}
input[type=text]{
    -webkit-appearance: push-button;
}
@media (max-width: 600px) {
    .Child1{
        vertical-align: center;
        /* width: 100%; */
    }
    .Child2{
        
        margin: 10px;
        display: flex;
        flex-direction: column;
        flex: 3;
        
    }

}