.DataProvider{
    display: flex; 
    flex-direction: column;
    height: 90vh;
}
.Child1{
    vertical-align: center;
    /* margin-top: 20px; */
    margin: 10vh auto auto auto;
    flex-basis: 70%;
    flex:1;
}
.Child2{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 30%;
}
.Child2Child1{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.Child2Child2{
    
}