.DataProvider{
    display: flex; 
    flex-direction: column;
    border: solid 0.5px blue;
    height: 90vh;
}
.Child1{
    /* border: solid 0.5px red; */
    margin: auto;
    flex-basis: 50%;
    flex:1;
}
.Child2{
    /* border: solid 0.5px yellow; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex: 3;
}
.Child2Child{
    /* border: solid 0.5px black; */
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.Child2Child > a {
    
}