.Container{
    width: 75vw;
    height: 64vh;
    overflow: auto;
    margin: auto;
}
.buttonsDiv{}
.Employee,.buttonsDiv{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin:auto;
}
.TablesContainer{
    width: 100%;
}
.AdditionalComponents{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
}
.AdditionalComponents>table{
    width: 50vw;
}
.AdditionalComponents>table>thead{
    background-color: rgb(226, 209, 209);
    color: black;
}
.Employee > div{
    /* margin-top: 10px;
    margin-bottom: 20px; */
}
.Employee > div,.AdditionalComponents> table  {
    border: 0.5px solid;

}

/* For the First data container */
.DetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:20px;
}
.DetailsContainer2{
    display: flex;
    flex-direction: column;
    
}
.DetailsDiv
{
    width: 100%;
}
.DetailsDivChild1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.DataContainer{
    /* display: table-row; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.DataContainerChild1{
    margin: 0 5px;
    font-weight: bolder;
    /* background-color: cornflowerblue; */
}



.editSaveButtons{
  display: flex;
  margin: auto;
}
.DetailsDiv > div > div > span >label{
    display: inline-block;
    float: left;
    clear: left; 
    width: 250px;
}

.DetailsDiv button{
    width:auto ;
    text-align: center;
}
.input > input:not(disabled){
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
}
.input > input:disabled{
    background-color: burlywood;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}

.switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  .switch:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .switch:checked {
    background-color: #4CD964;
  }
  
  .switch:checked:before {
    left: 32px;
  }
  
  table{
      /* background-color: #54bec826; */
      border: black;
      table-layout:auto;
  }
  thead{
    background-color: #009bff69;
  }
  @media (max-width: 1000px) {
    .Container{
        width: 100vw;
        margin: initial;
    }
    .Employee > div,div>table {
        width:100%;
        margin: 2px;
    }
    .Employee{
    flex-direction: row;
    }       
    .AdditionalComponents>table{
        width: 90vw;
    }
    .AdditionalComponents>th{
        margin: 5px;
    }   
}
/* @media (max-width: 900px) {
    .Container{
        width: 100vw;
    }
} */
