.Employee{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Employee > div{
    margin: 20px;
}
.Employee > div > table  {
    border: solid;
}
.DetailsDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.DetailsDiv > div{
  
}
.DetailsDiv > div > div > span >label{
    display: inline-block;
    float: left;
    clear: left; 
    width: 250px;
}

button{
    width:20%;
    text-align: center;
}
.input > input:not(disabled){
    background-color: white;
    
}
.input > input:disabled{
    background-color: burlywood;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  .switch:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .switch:checked {
    background-color: #4CD964;
  }
  
  .switch:checked:before {
    left: 32px;
  }
  