.SideDrawer {
    
    position: relative;
    
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-top: 15vh;
    box-sizing: border-box;
    border-right: 2px solid #f1f1f1;
    float: left;
    box-shadow: 1px 2px 7px 0px;
}
li{
    height: 50px;
}
/* 

*/
    nav{
        width: 100%;
    }
    @media (max-width: 600px) {
     
    li{
        height: 100px;
        padding-top:25px;
    }
    .SideDrawer {
        padding-top: 6vh;
    }

}

