.ContentsContainer{
    position: absolute;
    margin-top: 56px;
    height: calc(100vh - 56px);
    width: 100%;
    overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index:100;
	overscroll-behavior-y: contain;
} 
@media (max-width: 600px) {
    
    .ContentsContainer{
        /* margin-left: 30vw !important;
		width: calc(100% - 30vw); */
		height: calc(86% - 56px);
    }
}