.ContentsContainer{
    position: absolute;
    margin-top: 56px;
    height: calc(100vh - 56px);
    width: calc(100% - 15vw);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
@media (max-width: 600px) {
    
    .ContentsContainer{
        /* margin-left: 30vw !important;
        width: calc(100% - 30vw); */
    }
}