.Login {
    width: 100%;
    background-color: grey;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
    
}
.Login > div {
    width:50%;
    height: calc(100vh- 25px);
    margin: 50px;
}
.left {
    padding: 50px 25px 0;
    /* border: 1px solid red; */
}
.field {
    text-align: left;
}
.right {

    /* border: 1px solid blue; */
}

img {
    max-width: stretch;
    height: auto;
}
@media (max-width: 890px) {
    .Login {
        flex-direction: column-reverse;
    }
}
